{% extends 'registration/layout_reg.html' %}
{% load static %}

{% block title %}
Вход
{% endblock %}

{% block content %}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">

            <div class="signin-form">
                <h2 class="mb-4">Choose the option</h2>

          <div class="row">
              <div class="col-sm">
                  <p><a href="{% url 'sign-up' %}"><input type="submit" name="signin" id="signin" class="form-submit" value="Sign up"/></a></p>
              </div>
              <div class="col-sm">
                  <p><a href="{% url 'login' %}"> <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/> </a></p>
              </div>
          </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}
