{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Blog
{% endblock %}
{% block active5 %} class="active" {% endblock %}
{% block css %}
<link href="{% static 'main/css/blog.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- ======= Blog Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Blog</h2>
            <a href="{% url 'create' %}"><button type="button" class="btn btn-info"><i class="bx bx-plus-medical"> </i> Add new post </button></a>
        </div>

        <div class="row">
            <div class="col-lg-7" data-aos="fade-up">
                {% if blog %}
                {% for el in blog %}
                {% if user.is_authenticated %}
                {% if user.id == el.author.id %}
                <div class="card md-12" style="max-width: 540px; margin-top:10px;">
                    <div class="row g-0">
                        <div class="col-md-4 fluid">
                            {% if el.image %}
                            <img class="img-fluid mx-auto d-block" src="{{ el.image.url }}">
                            {% else %}
                            <img class="img-fluid mx-auto d-block" src="{% static 'main/img/profile-img-default.jpg' %}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="{% url 'blog_detail' el.id %}">
                                            <h5 class="card-title">{{ el.title }} </h5>
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="{% url 'blog_update' el.id %}"><i class="far fa-edit"></i></a>
                                    </div>
                                </div>
                                <p class="card-text"> {{ el.desc }}</p>
                            </div>
                          </div>
                    </div>
                    <div class="card-footer text-muted text-center">
                        <p class="card-text"><small class="text-muted;"><b> {{ el.author.first_name }} {{ el.author.last_name }} </b>| {{ el.created_at }}</small></p>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% else %}
                <p> Nothing </p>
                {% endif %}
            </div>
            <div class="vl col-lg-1"></div>
            <div class="col-lg-4" data-aos="fade-up">
                {% if blog %}
                <h3 class="resume-title">Feed</h3>
                {% for el in blog %}
                {% if user.is_authenticated %}
                {% if user.id != el.author.id %}
                <div class="card-new md-4 text-left" style="width: 470px; margin-top:10px;">
                    <div class="row g-0">
                        <div class="col-md-5 fluid mx-auto" style="padding-left: 10px;">
                            <div class="card-body">
                                <a href="{% url 'blog_detail' el.id %}">
                                    <h6 class="card-title">{{ el.title }} </h6>
                                </a>
                            </div>
                        </div>
                          <div class="vl fluid mx-auto" style="height:auto"></div>
                      <div class="col-md-4 fluid mx-auto text-right">
                            <p class="card-text" style="font-size: 14px"><small class="text-muted"> <a href="{% url 'about' el.author.id %}"><b> {{ el.author.first_name }} {{ el.author.last_name }} </b></a> | {{ el.created_at }}</small></p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% else %}
                <p> Nothing </p>
                {% endif %}
            </div>
        </div>
    </div>
</section><!-- End Blog Section -->

{% endblock %}
