{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Blog
{% endblock %}
{% block css %} <link href="{% static 'main/css/blog_detail.css' %}" rel="stylesheet"> {% endblock %}
{% block content %}

<!-- ======= Blog Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>{{ blog.title }}</h2>

            {% if user.is_authenticated %}
{% if blog.image %}
 <img class="media-object update-card-MDimentions" src="{{ blog.image.url }}" alt="...">
{% endif %}
            {{ blog.full_text.html | safe}}

            {% endif %}


        </div>
        <div class="media block-update-card">
      <a class="pull-left" href="{% url 'about' blog.author.id %}">
        {% if blog.author.profile.profile_pic %}
        <img class="media-object update-card-MDimentions" src="{{ blog.author.profile.profile_pic.url }}" alt="...">
      {% else %}
      <img class="media-object update-card-MDimentions"  src=" {% static 'main/img/profile-img-default.jpg' %}">
        {% endif %}
            </a>
      <div class="media-body update-card-body">
        <h4 class="media-heading" style="margin-left:10px;"> {{blog.author.first_name}} {{blog.author.last_name}}</h4>
        <div class="btn-toolbar card-body-social" role="toolbar">
          <div class="btn-group fa fa-github-alt git"></div>
          <div class="btn-group linkedin fa fa-linkedin-square"></div>
          <div class="btn-group twitter fa fa-twitter"></div>
          <div class="btn-group facebook fa fa-facebook"></div>
          <div class="btn-group google-plus fa fa-google-plus"></div>
        </div>
      </div>
      </div>
    </div>
</section><!-- End Blog Section -->
{% endblock %}
