{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Главная страницы
{% endblock %}
{% block active1 %} class="active" {% endblock %}

{% block content %}

  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>{{ user }}</h1>
      <p>I'm good at <span class="typed" data-typed-items="NodeJS,Linux Administration, Django"></span></p>
    </div>
  </section><!-- End Hero -->


{% endblock %}
